{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Billing Setting" %}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">This Month Total Resource Allocation</h3>
                </div>
                <div class="panel-body">
                    <canvas id="totalResourceChart" height="300"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Active Resource Allocation</h3>
                </div>
                <div class="panel-body">
                    <canvas id="activeResourceChart" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">This Month All Resource Price Charged</h3>
                </div>
                <div class="panel-body">
                    <canvas id="totalResourcePriceChart" height="300"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Active Resource Price Charged</h3>
                </div>
                <div class="panel-body">
                    <canvas id="activeResourcePriceChart" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"
            integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        function showBarChart(id, title, data) {
            const ctx = document.getElementById(id).getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: data.label,
                    datasets: [{
                        label: title,
                        data: data.data,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }

        function showPieChart(id, title, data) {
            const ctx = document.getElementById(id).getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: data.label,
                    datasets: [{
                        label: title,
                        data: data.data,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                }
            });
        }

        showBarChart('totalResourceChart', 'This Month Total Resource Allocation', JSON.parse('{{ total_resource_json | safe }}'));
        showPieChart('activeResourceChart', 'Active Resource Allocation', JSON.parse('{{ active_resource_json | safe }}'));
        showBarChart('totalResourcePriceChart', 'This Month All Resource Price Charged', JSON.parse('{{ price_total_resource_json | safe }}'));
        showPieChart('activeResourcePriceChart', 'Active Resource Price Charged', JSON.parse('{{ price_active_resource_json | safe }}'));
    </script>
{% endblock %}
