{% extends 'base.html' %}
{% block title %}{{ page_title }}{% endblock %}
{% block main %}
    <a class="btn btn-default" href="?print=true" target="_blank">Download PDF</a>
    <br/>
    <br/>
    {% include 'project/invoice/base_invoice.html' %}
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
            integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript">
        function downloadPdf() {
           window.print();
        }

    </script>
{% endblock %}