{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% block form_attrs %}enctype="multipart/form-data"{% endblock %}

{% block modal-body-right %}
  <h3>{% trans "Description:" %}</h3>
  <p>{% trans '<b>Company Name</b> : Your Company Name that will be included in invoice' %}</p>
  <p>{% trans '<b>Company Logo</b> : A logo that will be used in invoice' %}</p>
  <p>{% trans '<b>Email Admin</b> : Used to send a notification related invoice and error. You can put multiple email here separated by `,` (comma). Example: admin1@company.com,admin2@company.com' %}</p>
  <p>{% trans '<b>Invoice Tax</b> : Tax that will be calculated for each invoice' %}</p>
{% endblock %}

